/*navigation bar*/
ul {
  list-style-type: none;
  background-color: lavender;
  overflow: hidden;
}

li{
  float:left;
}

li a{
  display:block;
  color: darkslateblue;
  padding: 25px;
  text-decoration:none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;;
}

.headings {
  color: steelblue;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, serif;
}

#about-me-paragraph {
  text-align: center;
  color: cadetblue;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 25px;
}

h2 {
  text-align: center;
}
