/*navigation bar*/
ul {
  list-style-type: none;
  background-color: lavender;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float:left;
}

li a{
  display:block;
  color: darkslateblue;
  padding: 20px;
  text-decoration:none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;;
}

.headings {
  color: steelblue;
  font-family: Georgia, serif;
}

#about-me-paragraph {
  color: cadetblue;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 25px;
}
